<h3>Register as a new user:</h3>
<%= form_with model: @user, method: :post, url: "/users", local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br><br>
  <%= f.label :password, 'Password:' %>
  <%= f.text_field :password %>
  <%= f.label :password_confirmation, 'Password Confirmation:' %>
  <%= f.text_field :password_confirmation %>
  <%= f.submit 'Register' %>
<% end %>
